/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Http/Controllers/Sqii/bak_lap
/app/Models/Sqii/bak_lap
/resources/views/sqii/bak_lap
/public/downtown
/public/image/denah_2
/public/image/denah
/public/pprs/registrasi
/public/trhub/id-karyawan
/public/trhub/keluhan
/public/trhub/proses
/public/trhub/sales-today
/public/trhub/surat-ijin
/public/trhub/profile
/public/public/image/selfie/Inspektor
/public/public/image/selfie
/public/public/image/denah
/public/public/image/denah_mark
/public/public/image/defect
/public/bujp/image
/public/image/apik_denah
/.history
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log